@charset 'UTF-8';

//------------------------------------
// MENU
//------------------------------------

.menu {
	background: #fff;
	border: 1px solid #333;
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}

.menu-item {
	font-weight: bold;
	padding: 10px 15px;
	width: 100%;

	&:hover { text-decoration: underline; }
}
