@charset 'UTF-8';

//------------------------------------
// MENU
//------------------------------------

.menu {
	display: block;
	float: right;
	margin: 0;
}

.menu-item {
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	margin-left: 8px;
	padding: 5px;
	position: relative;
	text-transform: lowercase;

	&:before {
		border-left: 1px solid #fff;
		content: '';
		height: 10px;
		left: -7px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 0;
	}

	&:first-child {
		margin-left: 0;

		&:before { display: none; }
	}

	&:hover { text-decoration: underline; }
}
