@charset 'UTF-8';

//------------------------------------
// MENU
//------------------------------------

.menu {
	// background-color: #d0d;
	// background: url('../images/bg.jpg');
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	margin-bottom: 15px;
}

.menu-item {
	display: inline-block;
	font-weight: bold;
	padding: 10px 15px;
}
