@charset 'UTF-8';

//------------------------------------
//  FONTS
//------------------------------------
$base-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !default;
$base-print-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !default;

.font-light {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}
